<!-- components/kanban-column/kanban-column.component.html -->
<div class="kanban-column">
  <h2>{{ column.title }}</h2>
  <div cdkDropListGroup>
    <div
      class="task-list"
      cdkDropList
      [cdkDropListData]="column.tasks"
      [cdkDropListConnectedTo]="connectedTo"
      (cdkDropListDropped)="drop($event)"
      id="column-{{column.title}}"
    >
      <app-kanban-task
        *ngFor="let task of column.tasks"
        [task]="task"
        cdkDrag
      ></app-kanban-task>
    </div>
  </div>
</div>
