<div class="board-item" (click)="onClick()">
  <div class="item-header">
    <h4>{{ item.title }}</h4>
  </div>

  <div class="tags">
    <span class="tag" *ngFor="let tag of item.tags">
      {{ tag.name }}
    </span>
  </div>

  <div class="item-footer">
    <div class="priority-container" *ngIf="item.priorityId">
      <span
        class="priority-indicator"
        [ngClass]="'priority-' + item.priorityId"
        [matTooltip]="item.priorityName"
        matTooltipPosition="above"
      >
      </span>
    </div>
    <div class="assignee-container" *ngIf="item.fullName">
      <span class="assignee">{{ item.fullName }}</span>
      <div class="avatar">{{ item.initials }}</div>
    </div>
  </div>
</div>
