<div class="board-item" (click)="onClick()">
  <div class="item-header">
    <h4>{{ item.title }}</h4>
  </div>

  <div class="tags">
    @for (tag of item.tags; track tag) {
      <span class="tag">
        {{ tag.name }}
      </span>
    }
  </div>

  <div class="item-footer">
    @if (item.priorityId) {
      <div class="priority-container">
        <span
          class="priority-indicator"
          [ngClass]="'priority-' + item.priorityId"
          [matTooltip]="item.priorityName"
          matTooltipPosition="above"
          >
        </span>
      </div>
    }
    @if (item.fullName) {
      <div class="assignee-container">
        <span class="assignee">{{ item.fullName }}</span>
        <div class="avatar">{{ item.initials }}</div>
      </div>
    }
  </div>
</div>
