<!-- components/board/board.component.html -->
<div class="board-header">
  <label for="boardId">Select Board:</label>
  <select id="boardId" [(ngModel)]="selectedBoardId" name="boardId" (change)="onBoardSelection(selectedBoardId)">
      <option *ngFor="let board of boards" [value]="board.id">{{ board.title }}</option>
  </select>
</div>

<div class="board-columns">
  <app-board-column *ngFor="let column of columns" [column]="column" [allColumnIds]="allColumnIds"></app-board-column>
</div>

<button class="add-item-btn" (click)="openAddItemDialog()">Add New Item</button>
