<div class="dialog-container" [formGroup]="form">
  <div *ngIf="hasUnsavedChanges" class="unsaved-banner">
    ⚠ You have unsaved changes
  </div>

  <h2 class="dialog-title">Item Details</h2>

  <mat-tab-group>
    <mat-tab label="Details">
      <div class="dialog-content">
        <div class="form-group">
          <label>Title:</label>
          <input class="input-field" formControlName="title" />
        </div>

        <div class="form-group textarea-group">
          <label>Description:</label>
          <textarea class="input-field" id="itemDescription" formControlName="description">
          </textarea>
        </div>

        <div class="form-row">
          <div class="form-column">
            <div class="form-group">
              <label>Status:</label>
              <mat-select formControlName="statusId">
                <mat-option *ngFor="let s of statuses" [value]="s.id">
                  {{ s.name }}
                </mat-option>
              </mat-select>
            </div>

            <div class="form-group">
              <label>Priority:</label>
              <mat-select formControlName="priorityId">
                <mat-option *ngFor="let p of priorities" [value]="p.id">
                  {{ p.name }}
                </mat-option>
              </mat-select>
            </div>

            <div class="form-group">
              <label>Assignee:</label>
              <mat-select formControlName="assignee">
                <mat-option *ngFor="let assignee of availableAssignees" [value]="assignee">
                  {{ assignee }}
                </mat-option>
              </mat-select>
            </div>

            <div class="form-group">
              <label>Tags:</label>
              <mat-select formControlName="tags" multiple>
                <mat-option *ngFor="let tag of tags" [value]="tag">
                  {{ tag.name }}
                </mat-option>
              </mat-select>
            </div>
          </div>

          <div class="form-column">
            <div class="form-group">
              <label>Due Date:</label>
              <input type="date" class="input-field" formControlName="dueDate" />
            </div>

            <div class="form-group">
              <label>Estimated Time (hrs):</label>
              <input type="number" class="input-field" formControlName="estimatedTime" />
            </div>

            <div class="form-group">
              <label>Time Spent (hrs):</label>
              <input type="number" class="input-field" formControlName="timeSpent" />
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Info">
      <div>
        <div class="info-group">
          <div>
            <label>Created On:</label>
            <p>{{ data.item.dateCreated | date: 'short' }}</p>
          </div>
          <div>
            <label>Last Modified:</label>
            <p>{{ data.item.dateModified | date: 'short' }}</p>
          </div>
          <div>
            <label>Last Modified By:</label>
            <p>{{ data.item.modifiedByFullName }}</p>
          </div>
          <div>
            <label>Created By:</label>
            <p>{{ data.item.createdByFullName }}</p>
          </div>
        </div>

        <div class="linked-items">
          <label>Linked Items:</label>
          <ul>
            <li *ngFor="let linkedItem of data.item.linkedItems">
              {{ linkedItem.title }}
            </li>
          </ul>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="History">
      <div class="history-tab">
        <h5>Work History</h5>
        <ul>
          <li *ngFor="let historyItem of markAsWorkedHistory">
            {{ historyItem.dateCreated | date: 'short' }} - {{ historyItem.actionBy }}
          </li>
        </ul>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="dialog-actions">
    <button class="btn save-btn" (click)="onSave()">Save</button>
    <button class="btn delete-btn" (click)="onDelete()">Delete</button>
    <button class="btn cancel-btn" (click)="onCancel()">Cancel</button>
    <button class="btn mark-as-worked-btn" (click)="markAsWorked()">
      Mark as Worked
    </button>
  </div>
</div>