<div #composerRoot class="comment-composer" [class.collapsible]="collapsible" [class.collapsed]="isCollapsed" (click)="onComposerClick()">
  <div class="composer-editor-wrapper">
    <quill-editor
      [formControl]="bodyControl"
      [modules]="quillModules"
      [placeholder]="placeholder"
      class="comment-quill"
      (onFocus)="onEditorFocus()"
      (onBlur)="onEditorBlur()">
    </quill-editor>
  </div>

  <div class="composer-actions" (click)="$event.stopPropagation()">
    <button mat-flat-button color="primary" [disabled]="!hasContent" (click)="onSubmit()">{{ submitLabel }}</button>
    <button mat-button *ngIf="showCancel" (click)="onCancel()">Cancel</button>
  </div>
</div>
