<div class="sidebar">
    <h2>Item Details</h2>
    <div>
      <label>Title:</label>
      <input [(ngModel)]="item.title" />
    </div>
    <div>
      <label>Description:</label>
      <textarea [(ngModel)]="item.description"></textarea>
    </div>
    <div>
      <label>Created On:</label>
      <p>{{ item.dateCreated }}</p>
    </div>
    <div>
      <label>Last Modified:</label>
      <p>{{ item.dateModified }}</p>
    </div>
    <div>
      <label>Created By:</label>
      <p>{{ item.createdBy }}</p>
    </div>
    <div>
      <label>Linked Items:</label>
      <ul>
        <li *ngFor="let linkedItem of item.linkedItems">{{ linkedItem.title }}</li>
      </ul>
    </div>
    <div>
      <button (click)="onSave()">Save</button>
      <button (click)="onDelete()">Delete</button>
    </div>
  </div>
  