<div class="item-detail" *ngIf="item">
    <h3>{{ item.title }}</h3>
    <p>{{ item.description }}</p>
  
    <div>
      <label>Created By: </label>{{ item.createdBy }}
    </div>
    <div>
      <label>Created On: </label>{{ item.dateCreated | date }}
    </div>
    <div>
      <label>Last Modified: </label>{{ item.dateModified | date }}
    </div>
    <div>
      <label>Column: </label>{{ item.boardColumnId }}
    </div>
    <div>
      <label>Linked Items: </label>{{ item.linkedItems?.join(', ') }}
    </div>
  
    <textarea [(ngModel)]="item.description" placeholder="Update description..."></textarea>
  
    <button (click)="saveItem()">Save</button>
    <button (click)="deleteItem()">Delete</button>
  </div>
  